*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: "Varela Round", sans-serif;
  background-color: #151630;
}

.form{
  background-image: linear-gradient(#1391ff,#01455f);
  width: 400px;
  height:500px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border-radius: 16px;
  padding: 120px 50px ;
  box-shadow: 2px 2px 8px #0000ab;
}

.img-overlay::before {
  content: "";
  background-image: url(https://cdn.pixabay.com/photo/2016/02/13/14/03/roof-1197886__340.jpg);
  position: absolute;
  left:0;
  top:0;
  opacity: 0.10;
  width: 400px;
  height:500px;
  border-radius: 16px;
  z-index: -1;
}

.icon {
  position: absolute;
  top:20px;
  right: 20px;
  color: rgb(225,225,225, 0.5);
  cursor: pointer;
  }

.form h1{
 color: white;
 font-size: 1rem;
 text-align: center;
 margin-bottom: 3rem;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  
  margin-bottom: 1.5rem;
  font-size: 0.7rem;
  border-bottom: 1px solid rgb( 231,231,231,0.8);
}

.input:hover {
  border-bottom: 3px solid #ffff;
  transition: 0.2s ease-in-out;
}

#email,
#email::placeholder,
#password, 
#password::placeholder
 {
  width : 100%;
  border: none;
  background: none;
  outline: none;
  color: rgb(255,255,255,0.5);
  margin-top: 0.5rem;
  font-size: 0.8rem;
  padding-bottom: 0.5;
}

.button {
  width: 100%;
  background: white;
  border: none;
  border-radius: 30px;
  padding: 14px 14px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #0145ff;
  outline: none;
  cursor: pointer;
}

.button:hover{
  width: 100%;
  background: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 14px 14px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  outline: none;
  transition:0.3s ease-in-out;
  cursor: pointer;

}

p{
  color: rgba(255,255,255,0.5);
  font-size: 0.8rem;
}